<div class="jumbotron" style="position: relative;">
  <div class="text-center">
    <h1 class="display-4">Alexey Gaulke</h1>
    <h3>Software Developer</h3>
  </div>

  <div style="position: absolute; bottom: 5px; right: 10px;">
    <a href="//linkedin.com/in/alexey-gaulke-923426217" target="_blank" >
      <img src="../../assets/LinkedIn.png" alt="linkedin" width="24" height="24" class="rounded-circle me-2">
    </a>
    <a href="//facebook.com/BoulderDudes/" target="_blank" >
      <img src="../../assets/facebook.png" alt="linkedin" width="24" height="24" class="rounded-circle me-2">
    </a>
    <a href="//github.com/Agaulke2025" target="_blank">
      <img src="../../assets/Github.png" alt="linkedin" width="24" height="24" class="rounded-circle me-2">
    </a>
  </div>
</div>
